<div class="modal fade" id="createTeam" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Team</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/teams" method="POST">
                    <input type="hidden" name="id" id="id" value="<%=user.id%>">
                    <input name="team_name" maxlength="24" type="text" id="title" class="form-control" value=""
                        required>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Create Team</button>
            </div>
            </form>
        </div>
    </div>
</div>