<div class="modal fade" id="modalTeams" tabindex="-1" aria-labelledby="Modal Teams" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <input class="form-control me-2" type="search" placeholder="Search name or #id" aria-label="Search"
                    id="searchBar">
            </div>
            <div class="modal-body">
                <ul class="list-group p-2 fs-5" id="teamsList">
                </ul>
            </div>
            <script src="js/searchBar.js"></script>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>